<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Home' }) %>

    <body>

        <%- include('partials/header') %>

            <main>
                <div class="swiper mySwiper container-swiper-main">
                    <div class="swiper-wrapper ">
                        <% carousell.forEach(product => { %>
                            <div class="swiper-slide"><img class="imagen_carousel" src="/images/img-carousell/<%= product.image %>" alt=""></div>
                        <% }) %>
                       
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper mySwiper container-swiper-envios">
                    <div class="swiper-wrapper ">
                        <div class="swiper-slide">
                            <div class="envios">
                                <i class="fa-solid fa-truck-fast fa-2xl icono-card"></i>
                                <div class="container-descripcion">
                                    <h4 class="h4-descripcion">Envíos Gratis</h4>
                                    <p class="parrafo_descripcion">$8000 (CABA/GBA), $8000 (Interior)*</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="envios">
                                <i class="fa-regular fa-credit-card fa-2xl icono-card"></i>
                                <div class="container-descripcion">
                                    <h4 class="h4-descripcion">Tarjetas</h4>
                                    <p class="parrafo_descripcion">Aceptamos todos los medios de pago</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="envios">
                                <i class="fa-regular fa-heart fa-2xl icono-card"></i>
                                <div class="container-descripcion">
                                    <h4 class="h4-descripcion">Control de Calidad</h4>
                                    <p class="parrafo_descripcion">Ofrecemos amplios productos en stock y de calidad</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="envios">
                                <i class="fa-solid fa-shield-halved fa-2xl icono-card"></i>
                                <div class="container-descripcion">
                                    <h4 class="h4-descripcion">Compra Segura</h4>
                                    <p class="parrafo_descripcion">En Dietética Vida Orgánica cuidamos tus datos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="container-envios-secundario">
                    <div class="envios-secundario">
                        <i class="fa-solid fa-truck-fast fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Envíos Gratis</h4>
                            <p class="parrafo_descripcion">$8000 (CABA/GBA), $8000 (Interior)*</p>
                        </div>
                    </div>
                    <div class="envios-secundario">
                        <i class="fa-regular fa-credit-card fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Tarjetas</h4>
                            <p class="parrafo_descripcion">Aceptamos todos los medios de pago</p>
                        </div>
                    </div>
                    <div class="envios-secundario">
                        <i class="fa-regular fa-heart fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Control de Calidad</h4>
                            <p class="parrafo_descripcion">Ofrecemos amplios productos en stock y de calidad</p>
                        </div>
                    </div>
                    <div class="envios-secundario">
                        <i class="fa-solid fa-shield-halved fa-2xl icono-card"></i>
                        <div class="container-descripcion">
                            <h4 class="h4-descripcion">Compra Segura</h4>
                            <p class="parrafo_descripcion">En Dietética Vida Orgánica cuidamos tus datos</p>
                        </div>
                    </div>
                </div>

                <section class="container_section">
                        <div class="container_imagenes_main"><img class="imagen_main"
                                src="/images/img-carousell/bebida.jpg" alt="">
                        </div>                                       
                        <div class="container_imagenes_main"><img class="imagen_main"
                                src="/images/img-carousell/legumbres.jpg" alt="">
                        </div>
                        <div class="container_imagenes_main"><img class="imagen_main"
                                src="/images/img-carousell/cereales-1.jpg" alt="">
                        </div>
                        <div class="container_imagenes_main-none"><img class="imagen_main-none"
                                src="/images/img-carousell/especias.jpeg" alt="">
                        </div>
                </section>
                
                <div class="container-articulo">
                    <h2>destacados</h2>
                    <div class="swiper mySwiper container-swiper-destacados">
                        <div class="swiper-wrapper">

                            <%- include('partials/products') %>
                            
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="container-articulo">
                    <h2>novedades</h2>
                    <div class="swiper mySwiper container-swiper-novedades">
                        <div class="swiper-wrapper">

                            <%- include('partials/products') %>
                            
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>

                <div class="container_div_pie">
                    <a href="" class="link_redes">
                        <i class="fa-brands fa-instagram fa-2xl"></i>
                        <h3 class="h3_pie">Dietética Vida Orgánica</h3>
                    </a>
                    <p class="parrafo_pie">Estamos en instagram</p>
                    <button class="button_pie"><a class="link_pie" href="https://www.instagram.com"
                            target="_blank">seguinos</a></button>
                </div>
            </main>

            <%- include('partials/footer') %>

    </body>

</html>