<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Editar' }) %>

    <body>

        <%- include('partials/header') %>
            <p class="cart_detail"><a href="/">home</a> <i class="fa-solid fa-chevron-right"></i> <a href="#">editar</a>
            </p>
            <main class="container_main-edit">
                <h2 class="title_form-edit">Editar producto</h2>


                <form action="/products/update/<%= id %>?_method=PUT" method="POST" class="formulario"
                    id="formulario" enctype="multipart/form-data">
                    <div class="images_edit">
                        <img src="/images/img-products/<%= image %>" name="image" id="imagen" alt="">
                    </div>

                    <div class="container_main-form">
                        <div class="formulario__grupo" id="grupo__nombre">
                            <label for="nombre" class="formulario__label">Nombre</label>
                            <div class="formulario__grupo-input">
                                <input type="text" class="formulario__input" name="name" id="name"
                                    value="<%= name %>">
                            </div>
                            <small class="ms-2 text-danger" id="msgError-name"><%= locals.errors && (errors.name && errors.name.msg) %></small>
                            
                        </div>

                        <div class=" formulario__grupo" id="grupo__marca">
                            <label for="brand" class="formulario__label">Marca</label>
                            <select class="form-select" aria-label="Default select example" name="brand">
                                <% brands.forEach(brand => { %>
                                  <option <%= brand.id === brandId && 'selected' %> value="<%= brand.id %>"><%= brand.name %></option>
                                <% }) %>
                            </select>
                            <small class="ms-2 text-danger" id="msgError-brand"><%= locals.errors && (errors.brand && errors.brand.msg) %></small>
                        </div>

                        <div class=" formulario__grupo" id="grupo__categoria">
                            <label for="category" class="formulario__label">Categoría</label>
                            <select class="form-select" aria-label="Default select example" name="category">
                                <% categories.forEach(category => { %>
                                  <option <%= category.id === categoryId && 'selected' %> value="<%= category.id %>"><%= category.name %></option>
                                <% }) %>  
                            </select>
                            <small class="ms-2 text-danger" id="msgError-category"><%= locals.errors && (errors.category && errors.category.msg) %></small>
                        </div>

                        <div class=" formulario__grupo" id="grupo__categoria">
                            <label for="category" class="formulario__label">Seccion</label>
                            <select class="form-select" aria-label="Default select example" name="section">
                                <% sections.forEach(section => { %>
                                  <!-- seccion.id donde es igual a seccion que es la clave foranea -->
                                  <option <%= section.id === sectionId && 'selected' %> value="<%= section.id %>"><%= section.name %></option>
                                <% }) %>
                                </select>
                                <small class="ms-2 text-danger" id="msgError-section"><%= locals.errors && (errors.section && errors.section.msg) %></small>
                        </div>

                        <div class=" formulario__grupo" id="grupo__precio">
                            <label for="price" class="formulario__label">Precio</label>
                            <div class="formulario__grupo-input">
                                <input type="number" class="formulario__input" name="price" id="price" placeholder="$"
                                    value="<%= price %>">
                            </div>
                            <small class="ms-2 text-danger" id="msgError-price"><%= locals.errors && (errors.price && errors.price.msg) %></small>
                           
                        </div>

                        <div class=" formulario__grupo" id="grupo__descuento">
                            <label for="discount" class="formulario__label">Descuento</label>
                            <div class="formulario__grupo-input">
                                <input type="number" class="formulario__input" name="discount" id="discount"
                                    value="<%= discount %>">
                            </div>
                        </div>

                        <div class=" formulario__grupo" id="grupo__descripcion">
                            <label for="description" class="formulario__label">Descripción</label>
                            <div class="formulario__grupo-input">
                                <input type="text" class="formulario__input" name="description" id="descripcion"
                                    placeholder="Descripción a editar" value="<%= description %>">                       
                            </div>
                            <small class="ms-2 text-danger" id="msgError-description"><%= locals.errors && (errors.description && errors.description.msg) %></small>                  
                        </div>
                        <div class="col-12 d-flex justify-content-end gap-2 mb-3">
                            <label for="image" class="btn btn-secondary">Cambiar imagen principal</label>
                            <input hidden class="form-control" type="file" id="image" name="image" >
                            <label for="images" class="btn btn-secondary">Cambiar imágenes</label>
                            <input hidden class="form-control" type="file" id="images" name="images">
                        </div>
                        <div>
                            <button class="btn btn-success" type="submit">Guardar cambios</button>
                            <small  id="msgError-empty"  class="ms-2 text-danger"></small>
                        </div>
                    </div>

                </form>


            </main>

            <%- include('partials/footer') %>
        <script src="/javascripts/editAdmin.js"></script>
    </body>

</html>