<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Productos' }) %>

    <body>

        <%- include('partials/header') %>
            <div class="carrito_body-title">
                <p class="cart_detail"><a href="/">Home</a> <i class="fa-solid fa-chevron-right"></i> <a href="#">
                        <%= product.name %>
                    </a></p>
                <h2 class="carrito_main_title">Detalle del producto</h2>
            </div>
            <main class="container-general">
                <div class="container-img">
                    <img src="/images/img-products/<%= product.image %>" alt="">
                </div>
                <div class="container-info-product" style="font-size: 17px;">
                    <div class="container-name">
                        <span><b>
                                <%= product.name %>
                            </b></span>
                    </div>

                    <div class="container-description">
                        <div class="title-decription" style="font-size: 15px;">
                            <p><u>Descripci贸n</u></p>
                        </div>
                        <div class="text-description" style="font-size: 18px;">
                            <p>
                                <%= product.description %>
                            </p>
                        </div>
                    </div>

                    <div class="container-reviews">
                        <div class="title-reviews">
                            <p><u>Rese帽as</u></p>
                            <i class="fa-solid fa-chevron-down"></i>
                        </div>
                        <div class="text-reviews" style="font-size: 15px;">
                            <p> Producto de primera calidad y natural, fue un cambio rotundo para comenzar una
                                alimentaci贸n y estilo de vida saludable. El empaque fomenta la sustentabilidad, siendo
                                amigables con el medio ambiente. No contiene colorantes, conservantes ni edulcorantes
                                artificiales.
                                Recomiendo este producto a todos aquellos que buscan una alternativa deliciosa y
                                consciente para mejorar su alimentaci贸n diaria. </p>
                        </div>
                    </div>
                    <div class="container-details-product">
                        <div class="container-price" style="text-align: center;">
                            <span>$<%= product.price - (product.discount * product.price / 100) %></span>
                        </div>
                        <div class="form-group">
                            <select name="cantidad" id="cantidad">
                                <option disabled selected value="">Escoge una opci贸n</option>
                                <option value="medida-uno">300gr</option>
                                <option value="medida-dos">500gr</option>
                                <option value="medida-tres">1kg</option>
                                <option value="medida-cuatro">2kg</option>
                            </select>
                        </div>
                    </div>
                    <span class="span_exist" style="text-align: center;">
                        <h5>Tenemos stock コ</h5>
                    </span>
                    <div class="container-add-cart" >
                        <div class="container-quantity" >
                            <input class="input-quantity" type="number" placeholder="1" value="1" min="1">
                            <div class="btn-increment-decrement">
                                <i class="fa-solid fa-chevron-up"></i>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <button type="button" onclick="addItemToCart(1,'<%= product.id %>')"
                            class="btn btn-dark">Comprar</button>
                    </div>
                    <div class="container-social">

                        <div class="container-buttons-social" style="padding-left: 40%;">
                            <span>Compartir</span>
                            <a href="#"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
            </main>

            <!-- tengo que poner en un swiper -->

            <!-- <section class="container-related-products">
                <h2>Productos relacionados</h2>
                <div class="card-list-products">
                    <div class="card">
                        <div class="card-img">
                            <img src="/images/almidon.jpeg" alt="">
                        </div>
                        <div class="info-card">
                            <div class="text-products">
                                <h3>Nike-roshe Run</h3>
                                <p class="category">Footwear, Sneakers</p>
                            </div>
                            <div class="price">$85.00</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <img src="/images/almidon.jpeg" alt="">
                        </div>
                        <div class="info-card">
                            <div class="text-products">
                                <h3>Nike-roshe Run</h3>
                                <p class="category">Footwear, Sneakers</p>
                            </div>
                            <div class="price">$85.00</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <img src="/images/almidon.jpeg" alt="">
                        </div>
                        <div class="info-card">
                            <div class="text-products">
                                <h3>Nike-roshe Run</h3>
                                <p class="category">Footwear, Sneakers</p>
                            </div>
                            <div class="price">$85.00</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img">
                            <img src="/images/almidon.jpeg" alt="">
                        </div>
                        <div class="info-card">
                            <div class="text-products">
                                <h3>Nike-roshe Run</h3>
                                <p class="category">Footwear, Sneakers</p>
                            </div>
                            <div class="price">$85.00</div>
                        </div>
                    </div>
                </div>
            </section> -->
            </div>
            <%- include('partials/scripts') %>
                <%- include('partials/footer') %>

    </body>

</html>