<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {
    title: 'Añadir'
}) %>

    <body>

        <%- include('partials/header') %>
        
            <main>
                <div class="container_form-add">
                    <h2 class="title_form-add">Añadir productos</h2>
                    <form class="form-add" method="POST" action="" enctype="multipart/form-data">
                        <div class="container_input-add">
                            <div class="input-add">
                                <label for="name">Nombre</label>
                                <input type="text" id="name" name="name">
                            </div>
                            <div class="input-add">
                                <label for="brand">Marca</label>
                                <select type="text" name="brand" id="brand">
                                    <% brands.forEach(brand => { %>
                                        <option value="<%= brand.name %>"><%= brand.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="input-add">
                                <label for="category">Categoría</label>
                                <select type="text" name="category" id="category">
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category.name %>"><%= category.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="input-add">
                                <label for="price">Precio</label>
                                <input type="number" id="price" name="price">
                            </div>
                            <div class="input-add">
                                <label for="discount">Descuento</label>
                                <input type="number" id="discount" name="discount">
                            </div>
                        </div>
                        <div class="container_input-add">
                            <div class="input-add">
                                <label for="name">Descripción</label>
                                <textarea id="description" placeholder="Breve descripción del producto" name="description"></textarea>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for = "image" class="form-label">Agregar imagen</label>
                            <input class="form-control" type="file" id="image" name="image">

                        </div>
                        <div class="container_button-form">
                            <button type="submit" class="button-form">Agregar</button>
                            <button class="button-form-delete">Cancelar</button>
                        </div>
                    </form>
            </main>

            <%- include('partials/footer') %>

    </body>

</html>