<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Añadir' }) %>

    <body>
        <%- include('partials/header') %>

            <main>
                <p class="cart_detail"><a href="/">home</a><i class="fa-solid fa-chevron-right"></i><a href="#"> añadir
                        producto</a></p>

                <h2 class="title_form-add">Añadir productos</h2>


                <form action="" method="POST" class="container_form" id="formulario" enctype="multipart/form-data">
                    

                    <div class="form__grupo " id="grupo__nombre">
                        <label for="name" class="form__label">Nombre</label>
                        <div class="form__grupo-input">
                            <input type="text" class="form-control <%= locals.errors && (errors.name && 'is-invalid') %>" id="name" placeholder="Nombre del producto" name="name" value="<%= locals.old && (old.name && old.name) %>">
                        </div>
                        <small class="ms-2 text-danger" id="msgError-name"><%= locals.errors && (errors.name && errors.name.msg) %></small>
                    </div>

                    <div class="form__grupo" id="grupo__precio">
                        <label for="price" class="form__label">Precio</label>
                        <div class="form__grupo-input">
                            <input type="number" class="form-control <%= locals.errors && (errors.price && 'is-invalid') %>" id="price" name="price"  value="<%= locals.old && (old.price && old.price) %>">
                        </div>
                        <small class="ms-2 text-danger" id="msgError-price"><%= locals.errors && (errors.price && errors.price.msg) %></small>
                    </div>

                    <div class="form__grupo" id="grupo__marca">
                        <label for="brand" class="form__label">Marca</label>
                        <div class="form__grupo-input">
                            <select class="form-select <%= locals.errors && (errors.brand && 'is-invalid') %>" aria-label="Default select example" name="brand" id="brand">
                                <option selected hidden value="">Seleccione...</option>
                                <% brands.forEach(brand=> { %>
                                  <option value="<%= brand.id %>" <%= locals.old && (old.brand === brand.id && 'selected' )%> >
                                    <%= brand.name %>
                                  </option>
                                  <% }) %>
                              </select>
                            <small class="text-danger" id="msgError-brand"><%= locals.errors && (errors.brand && errors.brand.msg) %></small>
                        </div>
                    </div>

                    <div class="form__grupo" id="grupo__categoria">
                        <label for="category" class="form__label">Categoria</label>
                        <div class="form__grupo-input">
                            <select class="form-select <%= locals.errors && (errors.category && 'is-invalid') %>" aria-label="Default select example" name="category" id="category">
                                <option selected hidden value="">Seleccione...</option>
                                <% categories.forEach(category=> { %>
                                  <option value="<%= category.id %>" <%= locals.old && (old.category === category.id && 'selected' )%> >
                                    <%= category.name %>
                                  </option>
                                  <% }) %>
                              </select>
                            <small class="text-danger" id="msgError-category"><%= locals.errors && (errors.category && errors.category.msg) %></small>
                        </div>
                    </div>

                    <div class="form__grupo" id="grupo__categoria">
                        <label for="category" class="form__label">Seccion</label>
                        <div class="form__grupo-input">
                            <select class="form-select <%= locals.errors && (errors.section && 'is-invalid') %>" aria-label="Default select example" name="section" id="section">
                                <option selected hidden value="">Seleccione...</option>
                                <% sections.forEach(section=> { %>
                                  <option value="<%= section.id %>" <%= locals.old && (old.section === section.id && 'selected' )%> >
                                    <%= section.name %>
                                  </option>
                                  <% }) %>
                              </select>
                              <small class="ms-2 text-danger" id="msgError-section"><%= locals.errors && (errors.section && errors.section.msg) %></small>
                        </div>
                    </div>

                    <div class="form__grupo" id="grupo__descripcion">
                        <label for="description" class="form__label">Descripción</label>
                        <textarea class="form-control <%= locals.errors && (errors.description && 'is-invalid') %>" style="resize: none;" name="description" id="description"><%= locals.old && (old.description && old.description) %></textarea>
                        <small class="ms-2 text-danger" id="msgError-description"></small><%= locals.errors && (errors.description && errors.description.msg) %></small>
                    </div>

                    <div class="form__grupo" id="grupo__descuento">
                        <label for="discount" class="form__label">Descuento</label>
                        <div class="form__grupo-input">
                            <input type="number" id="discount" name="discount" class="form__input">
                        </div>
                    </div>

                    <div class="form_grupo">

                        <div class="col-12 d-flex justify-content-end align-items-center gap-2 mb-3">
                            <small class="ms-2 text-danger" id="msgError-images"><%= locals.errors && (errors.images && errors.images.msg) %></small>
                            <label for="image" class="btn btn-secondary">Imagen principal</label>
                            <input hidden class="form-control" type="file" id="image" name="image" >
                            <label for="images" class="btn btn-secondary">Agregar imágenes</label>
                            <input hidden class="form-control" type="file" id="images" name="images" multiple>

                            <small  id="msgError-empty"  class="ms-2 text-danger"></small>
                            <button class="btn btn-dark" type="submit">Guardar cambios</button>
                            <button type="reset" class="form__btn">Cancelar</button>
                          </div>
                    </div>

                </form>

            </main>

            <%- include('partials/footer') %>
            <script src="/javascripts/addProductValidation.js"></script>
    </body>
</html>