<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{ title : 'PROFILE' }) %>

    <body class="register">
        <%- include('partials/header') %>
            <main class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-8 mx-auto">
                        <div class="formu">
                            <div class="card-body">
                                <h3>MI PERFIL</h3>
                                
                                <form class="row mb-3" action="/users/updateProfile/<%= id %>?_method=PUT" method="POST"
                                    enctype="multipart/form-data">

                                    <!-- Imagen de perfil -->
                                    <div class="flex-shrink-0 mb-3">
                                        <img src="/images/avatar/<%= image %>"
                                          alt="profile image" class="img"
                                          style="width: 150px; border-radius: 10px; border: solid 1px black;">
                                    </div>
    
                                    <hr>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="name">Nombre</label>
                                        <input class="form-control" type="text" id="name" name="name" value="<%= name %>">
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="surname">Apellido</label>
                                        <input class="form-control" type="text" id="surname" name="surname" value="<%= surname %>">
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="email">Email</label>
                                        <input class="form-control" type="text" id="email" name="email" value="<%= email %>">
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="birthday">Cumpleaños</label>
                                        <input class="form-control" type="date" id="birthday" name="birthday" value="<%= birthday %>">
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="address">Dirección</label>
                                        <input class="form-control" type="text" id="address" name="address" value="<%= address %>">
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="about">Acerca de mí</label>
                                        <textarea class="form-control" style="resize: none;" name="about" id="about"><%= about %></textarea>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="call">Teléfono</label>
                                        <input type="tel" id="call" class="form-control" name="call" value="<%= call %>">
                                    </div>
                                    <div class="col-md-10 d-flex justify-content-start gap-3">
                                        <label for="image" class="btn btn-primary mt-3">Cambiar imagen</label>
                                        <input hidden class="form-control" type="file" id="image" name="image">
                                        <button class="btn btn-success mt-3" type="submit">Guardar
                                            cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>