<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{ title : 'PROFILE' }) %>

    <body class="register">
        <%- include('partials/header') %>
        <p class="cart_detail"><a href="/">Home</a> <i class="fa-solid fa-chevron-right"></i> <a
            href="#">Perfil</a></p>
            <main class="container mt-5 mb-5">
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-8 mx-auto">
                        <div class="formu">
                            <div class="card-body">
                                <h3>MI PERFIL</h3>
                                
                                <form id="form-Profile" class="row mb-3" action="/users/updateProfile/<%= id %>?_method=PUT" method="POST"
                                    enctype="multipart/form-data">

                                    <!-- Imagen de perfil -->
                                    <div class="flex-shrink-0 mb-3">
                                        <img src="/images/avatar/<%= avatar || "img-default.jpg"%>"
                                          alt="profile image" class="img"
                                          style="width: 150px; border-radius: 10px; border: solid 1px black;">
                                    </div>
    
                                    <hr>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="name">Nombre</label>
                                        <input class="form-control" type="text" id="name" name="name" value="<%= name %>">
                                        <small class="ms-2 text-danger" id="msgError-name"><%= locals.errors && (errors.name && errors.name.msg) %></small>

                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="surname">Apellido</label>
                                        <input class="form-control" type="text" id="surname" name="surname" value="<%= surname %>">
                                        <small class="ms-2 text-danger" id="msgError-surname"><%= locals.errors && (errors.surname && errors.surname.msg) %></small>

                                    </div>

                        

                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="email">Email</label>
                                        <input class="form-control" type="text" id="email" name="email" value="<%= email %>">
                                        <small class="ms-2 text-danger" id="msgError-email"><%= locals.errors && (errors.email && errors.email.msg) %></small>

                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="birthday">Cumpleaños</label>
                                        <input class="form-control" type="date" id="birthday" name="birthday" value="<%= birthday %>">
                                        <small class="ms-2 text-danger" id="msgError-birthday"><%= locals.errors && (errors.birthday && errors.birthday.msg) %></small>
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="about">Acerca de mí</label>
                                        <textarea class="form-control" style="resize: none;" name="about" id="about"><%= about %></textarea>
                                    </div>
                                    <div class="col-12 col-md-6 mb-3">
                                        <label class="form-label" for="call">Teléfono</label>
                                        <input type="tel" id="call" class="form-control" name="call" value="<%= call %>">
                                    </div>

                                    <div class="col-12 col-md-6 mb-3">
                                        <div class="row">
                                            <div class="col-12 mb-3">
                                                <label for="address">Domicilio</label>
                                                <input type="text" class="form-control" name="address" value="<%= address %>">
                                            </div>
                                            <div class="col-12 mb-3">
                                              <label for="province">Provincia</label>
                                                <select id="province" class="form-control" name="province" >
                                                    <% if (addressApi) { %>
                                                        <option selected value="<%= addressApi.province %>"><%= addressApi.province %></option>
                                                    <% } else { %>
                                                  <option selected hidden>Elija la provincia...</option>
                                                  <% } %>
                                                </select>
                                            </div>
                                            <div class="col-12 mb-3">
                                              <label for="city">Localidad</label>
                                                <select id="city" class="form-control" name="city" disabled>
                                                  <option selected hidden>Elegí la localidad...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-10 d-flex justify-content-start gap-3">
                                        <label for="image" class="btn btn-primary mt-3">Cambiar imagen</label>
                                        <input hidden class="form-control" type="file" id="image" name="image">
                                        <button class="btn btn-success mt-3" type="submit">Guardar cambios</button>
                                        <small  id="msgError-empty" class="ms-2 text-danger"></small>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('partials/scripts') %>
            <%- include('partials/footer') %>

            <script src="/javascripts/moment.js"></script>
            <script src="/javascripts/profileValidator.js"></script>

    </body>

</html>