<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: 'Registro' }) %>

    <body>

        <%- include('partials/header') %>

            <main>

                <!-- CABECERA  -->

                <section class="cabecera">
                    <h2>CREAR CUENTA</h2>

                    <p><i class="fas fa-gift"></i> Recibí increíbles regalos y gestiona tus compras <i
                            class="fas fa-gift"></i>
                    </p>
                    <p class="p-desktop">Llevá el control de tus pedidos y ganá excelentes premios por compras
                        registradas</p>

                </section>

                <!-- FORMULARIO -->

                <section class="formulario-register">
                    <div class="inputs">
                        <p>Los campos con (*) son obligatorios</p>
                        <form class="formu" method="POST">
                            <div class="espacio">
                                <label for="name">Nombre<p>*</p></label>
                                <input type="text" id="name" name="name" placeholder="Ej: Maria Perez" value="<%= locals.old && (old.name && old.name) %>"
                                    class="completar">
                                    <small class="small_danger"><%= locals.errors && (errors.name && errors.name.msg) %></small>
                                
                            </div>

                            <div class="espacio">
                                <label for="surname">Apellido<p>*</p></label>
                                <input type="text" id="surname" name="surname" placeholder="Ej: Maria Perez" value="<%= locals.old && (old.surname && old.surname) %>"
                                    class="completar">
                                    <small class="small_danger"><%= locals.errors && (errors.surname && errors.surname.msg) %></small>
                            </div>

                            <div class="espacio">
                                <label for="email">E-mail<p>*</p></label>
                                <input type="email" id="email" name="email" placeholder="Ej: mariaperez@mercadoliebre.com" value="<%= locals.old && (old.email && old.email) %>"
                                    class="completar">
                                    <small class="small_danger"><%= locals.errors && (errors.email && errors.email.msg) %></small>
                            </div>

                            <div class="espacio">
                                <label for="password">Contraseña<p>*</p></label>
                                <input type="password" id="password" name="password" value="<%= locals.old && (old.password && old.password) %>" class="completar">
                                <small class="small_danger"><%= locals.errors && (errors.password && errors.password.msg) %></small>
                            </div>

                            <div class="espacio">
                                <label for="password2">Confirmar contraseña<p>*</p></label>
                                <input type="password" id="password2" name="password2" value="<%= locals.old && (old.password2 && old.password2) %>" class="completar">
                                <small class="small_danger"><%= locals.errors && (errors.password2 && errors.password2.msg) %></small>
                            </div>
                            <section class="extras">
                                <div class="container-promociones">
                                    <label for="promociones">Deseo recibir promociones</label>
                                    <input type="checkbox" value="Suscripción" class="completar">
                                </div>
                                <div class="container-newsletter">
                                    <label for="newsletter">Suscribirme al newsletter </label>
                                    <input type="checkbox" value="Suscripción" class="completar">
                                </div>
                            </section>
                            <section class="register_terminos">
                                <p>Estoy de acuerdo con <a href="#"> Terminos y Condiciones</a></p>
                                <p><a href="/users/login">¿Ya Tienes Cuenta?</a></p>
                            </section>
                            <button type="submit" class="btn-submit"><span class="">CREAR CUENTA</span></button>
                        </form>
                    </div>
                </section>
            </main>

            <%- include('partials/footer') %>

    </body>

</html>