<section class="container-articulo-section">
    <img class="imagen_producto" src="/images/img-products/<%= product.image %>" alt="leche de almendras">
    <div class="container-info-main">
        <h4 class="description">
            <%= product.name %>
        </h4>
        <% if (product.discount) { %>
            <div class="container_price">
                <h3 class="precio-card">$<span><%= toThousand(product.price - product.price * product.discount / 100)%></span></h3>
                <p class="precio-card-linea">$<span class="text-decoration-line-through"><%= product.price %></span></p>
            </div>
            
        <% }else{ %>
            <h3 class="precio-card">$<span><%= toThousand(product.price) %></span></h3>
        <% } %>
        <hr>
            <div class="description-cart">
                <a class="button-card" href="/products/detail/<%= product.id %>">Ver mas</a>
                <button class="button-cart" onclick="addItemToCart(1,'<%=product.id%>')"> <i class="fa-solid fa-cart-plus cart"></i> </button>
            </div>
    </div>
    <% if (product.discount) { %>
        <h4 class="discount_view">
        <span class="badge rounded-pill bg-danger">
            <%= product.discount %>% OFF
            </span>
        </h4>
        
    <% } %>
    <i class="fa-regular fa-heart" onclick="changeHeart(this)"></i>
</section> 
